@import "../../scss/colors.scss";

.Dash {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  background-color: var(--background-block);
  border-radius: 24px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__content {
    width: 684px;
    font-size: 16px;
    font-weight: 300;
  }

  &__chart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 24px;
    right: 40px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 24px;
    border: none;
    font-size: 18px;
    padding: 8px 24px;
    width: max-content;
    font-weight: 300;
    color: var(--text-color);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition:
      background-color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out,
      color 0.3s ease-in-out,
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
      color: var(--text-color);
    }

    & svg {
      transition: fill 0.3s ease-in-out;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}
